<h1>Bonjour! Veuillez confirmer votre email!</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le liens : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer l'email</a>.
    Ce liens expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
