header{
    background-image: url("../images/head.png");
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
   
} 
.vide{  

}
/* .navig{

    
} */
.corps{
    background-color: #5a4731a0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 50rem;

}


footer{
    background-image: url("../images/foot.png");
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
   
} 
