/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************FIN RESET CSS********************/


#header{
    background-image: url("../images/aa.png");
    height: 24rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
} 

.tlogo{  
    padding-top: 10rem;
}

.cardDetail{
    max-width: 700px;
}
#body{
    background-color: #5a473150;
}
/* .corps{
    min-height: 30rem;
} */
footer{
    background-image: url("../images/zz.png");
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
} 
/* .descri{
    min-height: 10rem;
} */
.bonjour{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-top: 15px;
}
.an{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.navig{
    background-color: #9c8574;
}

.phot{
    min-height: 10rem;
    max-height: 20rem;
}
.card {
display: flex;
flex-direction: column;
border: 1px solid #ccc;
padding: 20px;
max-width: 500px;
margin: 0 auto;
}

.card img {
max-width: 100%;
height: 400px;
object-fit: cover;
}
  
#mpc{
    padding-top: 8rem;
}
#logoM{
    width: 140px;
    height: 140px;
}
/* .descri{
    width: 50%;
} */

hr {
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    margin: 100px;
    height: 2rem;
}
.tableau{
    background-color: rgba(0, 0, 0, 0.059);
    border: 5px solid rgb(0, 0, 0);

    height: 2rem;
}
.carte{
    background-color: rgba(117, 60, 27, 0.636);
}

.contactForm{
    width: 60%;
    margin: auto;
}
.imgDetail{
    width: 500px;
    height: 500px;
}
.iconres{
    width: 40px;
    height: 40px;
}
.links{
    padding: 0px 100px;
}
.connecte{
    margin-right: 2rem;
}
.stylecart{
    cursor: pointer;
}
.stylecart:hover{
    background: rgb(255, 236, 217);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bodyAn{
    margin: 50px 0;
}
.an {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

@media only screen and (min-width: 0) and (max-width: 1280px)
{
    #mpc{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer{
        height: 17rem;
    }
    header{
        height: 8rem;
    }
    .tlogo{  
        padding-top: 65px;
    }
    #logoM{
        width: 50px;
        height: 50px;
    }
    /* .prod{
        width: 200px;
        height: 300px;
    } */
    .scard{
        width: 500px;
        height: 500px;
    }
    .contactForm{
        width: 100%;
        margin: auto;
    }
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 20px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

        .card img {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .connecte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header{
        background-image: url("../images/aa.png");
        height: 10rem;
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position-y: center;
        background-attachment: fixed;
        background-size: cover;
        background-attachment: inherit;
    } 
    

}




/* ************************************************************************************************************************* */

