{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}|Historique de commande{% endblock %}

{% block body %}

<h1 class="text-center fs-3 my-5">Historique de commande</h1>

{# {{ dump(user) }} #}
{# {% for item in user %}
    {{ dump(user.commandes) }}
{% endfor %} #}
{# {{ dump(comm) }} #}



{% endblock body %}