{% extends "base.html.twig" %}

{% block body %}
<div class="bodyAn">
  <p class="an">ERROR 404</p>
  <h1 class="an text-white text-center">Page non trouvée</h1>

  <p class="an fs-3 text-white text-center">La page que vous recherchez semble introuvable</p>

</div>
{% endblock body %}