{% extends "base.html.twig" %}

{% block body %}
<div class="bodyAn">
  <p class="an">ERROR 505</p>
  <h1 class="an text-white text-center">Cette page ne fonctionne pas</h1>

  <p class="an fs-3 text-white text-center">Impossible de traiter cette demande à l'heure actuelle</p>

</div>
{% endblock body %}